@inject NavigationManager _navManager
@inject IJSRuntime JS
<div class="ds-icon">
    <img src="../images/ds-icon.svg" class="ds-icon__image" />
</div>
<ul class="side-bar__list" @ref="sidebarList">
    <li class="side-bar__list-item">
        <NavLink class="ds-nav-link" href="home" Match="NavLinkMatch.All"
                 data-toggle="popover" data-trigger="hover" data-content="Home">
            <ion-icon name="home-outline"></ion-icon>
        </NavLink>
    </li>
    <li class="side-bar__list-item">
        <NavLink class="ds-nav-link" href="logs"
                 data-toggle="popover" data-trigger="hover" data-content="Logs">
            <ion-icon name="log-in-outline"></ion-icon>
        </NavLink>
    </li>
    <li class="side-bar__list-item">
        <NavLink class="ds-nav-link" href="faces"
                 data-toggle="popover" data-trigger="hover" data-content="Faces">
            <ion-icon name="person-circle-outline"></ion-icon>
        </NavLink>
    </li>
</ul>

@code {  
    ElementReference sidebarList;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeAsync<string>("initializePopovers", sidebarList);
    }
}
